:root {
  --colors-white: #ffffff;
  --colors-gray: #8a8a8a;
  --text-color: #171717;
  --padding: 1rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background-color: var(--colors-gray);
  font-family: var(--font-source-sans-3);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.component-root {
  padding: var(--padding);
}

/* sm - 500px */
@media (min-width: 31.25rem) {
  :root {
    --padding: 1.5rem;
  }
}

/* md - 800px */
@media (min-width: 50rem) {
  :root {
    --padding: 2rem 3rem;
  }
}

/* lg - 1200px */
@media (min-width: 75rem) {
}
