:root {
  --background: #8a8a8a;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-source-sans-3);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
