.page.page {
  /* double specifity to override mui root styles */
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: var(--padding);
  font-family: var(--font-source-sans-3);
  background-color: var(--colors-white);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 50rem;
}

@media (min-width: 31.25rem) {
  .main {
    gap: 3rem;
  }
}
